body {
  font-family: Helvetica;
  text-align: center;
}

#title-nav {
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}

.title {
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.nav {
  font-size: 18px;
  color: white;
  font-weight: bold;
  text-align: center;
}

#about {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.design {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  background-color: green;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.footer {
  font-size: 11px;
  text-align: left;
  color: white;
  background-color: dimgray;
}
